# -------------------------------
# Namespace (Auto-create if missing)
# -------------------------------
apiVersion: v1
kind: Namespace
metadata:
  name: "2401178-nutritionanalyzer"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nutrition-analyzer-deployment
  namespace: "2401178-nutritionanalyzer"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nutrition-analyzer
  template:
    metadata:
      labels:
        app: nutrition-analyzer
    spec:
      imagePullSecrets:
        - name: nexus-secret   # ⚠️ DO NOT CHANGE 

      containers:
        - name: nutrition-analyzer
          image: nexus-service-for-docker-hosted-registry.nexus.svc.cluster.local:8085/student-projects/nutrition-analyzer:latest

          ports:
            - containerPort: 8000

          env:
            - name: DEBUG
              value: "1"

          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 30

          resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
